%h3 Exchanges

%table.table
  %tr
    %th Rate
    %th Date
    %th
  -@exchanges.each do |e|
    %tr
      %td= e.name
      %td= e.date
      %td= link_to 'Details', money_path(e), class: 'btn btn-default btn-sm'

= will_paginate @exchanges

=link_to 'Check for new exchanges', refresh_path, class: 'btn btn-primary btn-block'
